
.container{
        display: grid;
        grid-template: calc(100vh - 64px) / 100%;
   
}
.cards{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 25px;
    overflow-x: auto;

}
.card-container
{
    border-radius: 25px;
}
.add-container{
    display: grid;
    grid-template: 10vh 90vh/ 100%;
    background-color: rgb(27, 27, 27);
}
.form-container1{
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
}
.form-con{
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(8px);
    justify-content:center;
    align-items: center;
}
label{
        display: block;
        text-align: center;
        margin-bottom: 5px; 
}
.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.button{
    display: flex;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    margin: 20px;
}
.modal {
    position: absolute;
    z-index: 1; 
    left: 0;
    top: 50px;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }