*{
    box-sizing: border-box;
}
.leaflet-container{
    height: 600px;
    width: 90%;
    margin: 5%;
    margin-top: 0;
    bottom: 20px;
    border-radius: 25px;
}
h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 2%;
}